# Windows thumbnail cache files
Thumbs.db
ehthumbs.db
ehthumbs_vista.db

# Folder config file
Desktop.ini

# Recycle Bin used on file shares
$RECYCLE.BIN/

# Windows Installer files
*.cab
*.msi
*.msm
*.msp

node_modules/*


*.zip


# Windows shortcuts
*.lnk

.DS_Store
*.vbs
package-lock.json
spec/support/awsconfig.json
spec/support/config.json
spec/support/exampleoutput.json

# dsm
Personal.code-workspace
coverage
.nyc_output